#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 40px 0 80px;
    .container {
        &__leftMenu {
            width: 260px;
            margin-right: 40px;
            ul {
                li {
                    a {
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 400;
                        color: $black;
                        transition: all .3s ease;
                        &:hover {
                            color: $text_hover;
                        }
                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &__center {
            margin-right: 300px;
            width: calc(100% - 600px);
            &__full {
                width: calc(100% - 300px);
                margin-right: 0;
            }
            .contact {
                max-width: 900px;
                width: 100%;
                margin: 0 auto;
                .contact_email,
                .contact_address,
                .contact_phone {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 13px;
                    padding-left: 25px;
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 14px;
                }
                .contact_email {
                    background-image: url('../images/email.svg');
                }
                .contact_address {
                    background-image: url('../images/home.svg');
                }
                .contact_phone {
                    background-image: url('../images/phone.svg');
                    margin-bottom: 50px;
                }
                h6 {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 26px;
                    letter-spacing: 0.35px;
                    font-weight: 400;
                }
                form {
                    .flex-6 {
                        & > div {
                            width: calc(50% - 10px);
                            margin-right: 20px;
                            margin-bottom: 12px;
                            &:nth-child(2n) {
                                margin-right: 0;
                            }
                        }
                    }
                    .contact_message_field {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    input[type="text"] {
                        height: 40px;
                        border: 1px solid #E8E8E8;
                        padding: 0 12px;
                        font-size: 14px;
                        font-weight: 300;
                        color: $black;
                        background-color: transparent;
                        width: 100%;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        margin-bottom: 8px;
                    }
                    textarea {
                        width: 100%;
                        height: 110px;
                        border: 1px solid #E8E8E8;
                        font-size: 14px;
                        font-weight: 300;
                        color: $black;
                        font-family: $montserrat;
                        resize: none;
                        padding: 16px 12px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        background-color: transparent;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        margin-bottom: 8px;
                    }
                    input[type='submit'] {
                        width: 100%;
                        height: 40px;
                        background-color: $black;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        font-size: 14px;
                        color: $white;
                        font-weight: 300;
                        text-transform: uppercase;
                        transition: all .3s ease;
                        &:hover {
                            opacity: .65;
                        }
                    }
                }
            }
            .about {
                max-width: 680px;
                width: 100%;
                margin: 0 auto;
                &__img {
                    margin-bottom: 25px;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                &__text {
                    font-size: 16px;
                    line-height: 23px;
                    font-weight: 400;
                }
            }
            .terms,
            .privacy_policy {
                p {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 300;
                    &:not(:last-of-type) {
                        margin-bottom: 20px;
                    }
                }
            }
            .shipping_returns {
                &__tab {
                    margin-bottom: 50px;
                    a {
                        display: inline-block;
                        font-size: 18px;
                        color: #C7C7C7;
                        font-weight: 800;
                        text-transform: uppercase;
                        &.active {
                            color: $black;
                        }
                        &:not(:last-of-type) {
                            margin-right: 30px;
                        }
                    }
                }
                .tab_block {
                    display: none;
                    p {
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: 300;
                        &:not(:last-of-type) {
                            margin-bottom: 20px;
                        }
                    }
                    &.active {
                        display: block;
                    }
                }
            }
        }
    }
}
